extends: default  # Base rule set

rules:
  indentation:
    spaces: 2
    indent-sequences: false

  line-length:
    max: 120
    level: warning

  trailing-spaces:
    level: error

  new-line-at-end-of-file:
    level: error

  truthy:
    level: error

  document-start:
    level: warning

  key-duplicates:
    level: error

  braces:
    level: warning
